<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoboAuP17.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RoboAuP17.My.MySettings>
            <setting name="LastConfigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtrlSpeed" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="CtrlAcc" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TpSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TpAcc" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CtrlJogIntervalJointGrad" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CtrlJogIntervalJointSteps" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CtrlJogIntervalCartMm" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CtrlJogIntervalCartGrad" serializeAs="String">
                <value>10</value>
            </setting>
        </RoboAuP17.My.MySettings>
    </userSettings>
</configuration>